body{
    text-align: center;
}

.card{
    display: inline-block;
    padding-bottom: 2px;
    border: 0.5px solid;
    width: 175px;
    margin-bottom: 20px;
}
.bilde{
    margin: auto;
}
.text{
    width: 150px;
    margin: auto;
}
@media(max-width: 800px){
    .card{
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    }
}
.profil{
    max-height: 200px;
    max-width: 600px;
    justify-content: center;
    margin: auto;
    padding: 0px;
    border: 0.5px solid;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bil{
    float: left;
}

.profil-text{
    width: fit-content;
    margin: auto;
    padding-top: 40px;
}
.hugeName{
    font-size: x-large;
    text-transform: uppercase;
}
@media(max-width: 800px){
.profil{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-height: 1000px;
    max-width: 150px;
    
    
    
}
}
@media(max-width: 800px){
.bil{
    float: none;
}
}

    